html, body {
    height: 60%;
}

* {
  box-sizing: border-box;
}

p  {
  font-family: 'Muli', sans-serif;

}

.fader {
  display: none;
}


.full-height {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

h1  {
  text-align: center;
  font-family: 'Muli', sans-serif;
  margin-bottom: 5px;
  font-size: 40px !important;
}

h2  {
  text-align: center;
  font-family: 'Muli', sans-serif;
  margin-bottom: 5px;
}

h3 {
  text-align: center;
  font-family: 'Muli', sans-serif;
    margin-top: 0px;
    @media(max-width:992px){
      margin-top: 20px;
    }

}

.tippy {
  padding-top: 60px;
  @media(max-width:992px){
    padding-top: 30px;
  }
}

.top-pad {
  padding-top: 30px;
}

.center {
  text-align: center;
}

.vert-center {
  height: 100%;
  display: flex;
  align-items: center;

  &.i-am {
    justify-content: flex-end;
    font-size: 46px;
    padding-right: 10px;
    font-family: 'Muli', sans-serif;
    @media (max-width: 992px){
      font-size: 36px;
    }
  }

}

.i_block {
  padding-left: 25px;
  margin-left: -15px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  p {
    margin: 0 0 0px;
  }
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  img {
    border-width: 1px;
    border-color: #B1B1B1;
    border-style: solid;
    border-radius: 3px;
  }
}

.hovereffect .overlay {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}

.hovereffect:hover .overlay {
  background-color: rgba(0, 0, 0, 0.9);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect p.info {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: normal;
  margin: 7px;
}

.hovereffect:hover p.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.wiggle-grey {
    content: "";
    background-image: url(../portfolio/wigglegrey.svg);
    background-repeat: repeat-x;
    background-size: auto 4px;
    display: block;
    margin-bottom: 20px;
    @media (max-width: 767px){
      margin-bottom: 0;
    }
    height: 4px;
    width: 100%;
}

.vert-wiggle {
  background-image: url(../portfolio/vert-wiggle.svg);
  height: 100%;
  margin: 0 auto;
  width: 4px;
  position: absolute;
  left: 0;
}
